[Unit]
Description=Manages access to the robots hardware

[Service]
Type=simple
ExecStart=/home/pi/software/software_appcvrobot/buildRel/executables/RobotHardwareController/RobotHardwareController

[Install]
WantedBy=multi-user.target
