[Unit]
Description=Display shutdown message on LCD screen

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/home/pi/software/software_appcvrobot/scripts/onShutdown.sh

[Install]
WantedBy=multi-user.target
